build*
*.o

exemples_cours/menu1/prog
exemples_cours/menu2/prog
exemples_cours/menu3/prog
Pacman/.qmake.stash

*.exe
moc_*
*.layout
*.user*

Pacman/bin/pacman_sdl
Pacman/bin/pacman_txt
Pacman/pacman_qt
Pacman/Makefile

exemples_cours/pointeur_f/.vscode


callgrind.out.*
TD_valgrind/main_ok.cpp
TD_valgrind/prog
TD_valgrind/prog_ok
TD_valgrind_new/
a.out
lifap4democours

Pacman/doc/doxyfile.bak
Pacman/doc/html
Pacman/doc/latex

TD_moduleImage/evalModuleImage_old.py
TD_moduleImage/p17*
TD_moduleImage/eval_archives.csv
TD_moduleImage/test/
TD_moduleImage/SABRI ABID p1711404_p1712103_p1805233_p1708051.tgz
P1234567_P1234568_P1234569/
TD_moduleImage/P1234567_P1234568_P1234569*

TD_moduleImage/plagiat/
TD_moduleImage/archives/
TD_moduleImage/plagiat.zip
TD_moduleImage/plagiat2021.baldr

SDL2_Simple/supdata.log
SDL2_Simple/sdl.supp
SDL2_Simple/simple
SDL2_Simple/*.o
SDL2_Simple/bin

SDL2_IMGUI_Simple/imgui.ini
SDL2_IMGUI_Simple/bin


TD_moduleImage/2022_plagiat/

TD_moduleImage/vrac/

Pacman/bin/pacman_qt

TD_moduleImage/2023.baldr

TD_moduleImage/2023_plagiat/
